:root {
    --navbar: #08324C;
    --dei: #00D2FF;
    --naranja: #FF996D;
    --blanco: #fff;
    --celeste: #95A7B2;
    --azul: #284D63;
    --contact: #F2F4F6;
    --blog: #002A3C;
    
}

* {
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    font-family: sans-serif;
    /*Courier; 
    /*monospace, monospace;
    sans-serif; Roboto,sans-serif */
    /*border: solid 1px;*/
    
}

a {
    color: inherit;
}

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 15px 45px;
    color: white;    
    background: rgba(8, 41, 85, 0.336);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    position:fixed;
    width: 100%;
    overflow: hidden;
}
/*
header img {
    width: 60px;
    height: 40px;
}*/

.logo-aux {
    font-size: 25px;
    font-weight: 600;
    
}

header strong {
    color: var(--dei);
}


nav {
    display: flex;
    align-content: center;
    gap:10px;
    font-size: 17px;
    padding: 0px 70px 0px 0px;
}

.lista {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 20px;
}

.quienes:hover{
    color: var(--navbar);
    font-weight: 700;
    
}
.servicios:hover{
    color: var(--navbar);
    font-weight: 700;
}
.equi:hover {
    color: var(--navbar);
    font-weight: 700;
    
}
.conta:hover{
    color: var(--navbar);
    font-weight: 700;
    
    
}

.button {

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}
.cand, .emp, .empl{
    display: flex;
    padding: 4px 14px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
}
.cand {
    
    color: var(--navbar);
    font-weight: 600;

}
.emp {
    color: var(--naranja);
    font-weight: 600;
}

.empl {
    background-color: var(--navbar);
    border: solid 1px var(--blanco);
    color: var(--blanco);
    font-weight: 600;
}

main {
    background-color: var(--navbar);
}

/*menu hamburguesa*/
#menu-toogle, .menu-label{
    display: none;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<primera seccion>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.section1 {
    background-image: url(./img/banner.gif);
    height: 650px;
    margin: 0px 50px 50px 50px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.msj {
    max-width: 1000px;
    padding: 30px;
    color: white;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: rgba(8, 32, 65, 0.726);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.dis {
    font-size: 30px;

}

.wel {
    font-size: 3rem;
}
.irl {
    color: var(--dei);
    font-size: 22px;
    width: 500px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<segunda seccion>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.section2 {
    background-color:var(--azul);
    padding-bottom: 65px;
}

.section2 h1 {
    font-size: 45px;
    color: var(--blanco);
}

.proposito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 33px;
    color: var(--naranja);
    padding: 55px 0px 20px 0px;
}

.arti1 {
    max-width: 1085px;
    margin: auto;
}

.nuestra-info {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.nuestra-info h1{
    font-size: 30px;
}

.talento, .cultura, .trans {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 1px;
    height: 150px;
    width: 700px;
    padding: 40px 30px ;
    gap: 20px;
    font-size: 20px;
    color: rgb(99, 99, 99);
}

.cultura  {
    background-color: var(--naranja);
    color: white;
}

.trans {
    background-color: var(--navbar);
    color: white;
}

.serv {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sumamos {
    
    color: var(--naranja);
    font-size: 24px;
    padding: 0px 30px;
    max-width: 800px;
    text-align: center;
}

.tres-parra {
    display: flex;
    padding: 40px 20px 0px 20px;
    justify-content: center;
}

.conectar, .pertenecer, .co-crear {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
    font-size: 20px;
    height: 250px;
    width: 300px;
    color: var(--blanco);
}

.conectar h2 {
    color: var(--naranja);
}

.pertenecer h2 {
    color: var(--navbar);
}

.pertenecer {
    border-left: 3px solid var(--dei);
    border-right:3px solid  var(--dei);
}

.co-crear h2 {
    color: white;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<tercera seccion>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.section3 {
    background-color: var(--celeste);
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    padding-bottom: 65px ;
    color: var(--blanco);
    gap: 30px;
    align-items: center;
    }

.section3 h1 {
    font-size: 45px;
}
.arti2 {
    box-sizing: border-box;
    max-width: 1085px;
    margin: auto;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}

.fabrica, .tractor, .menu, .marketing, .tecno, .coche, .mina {
    background-color: var(--navbar);
    border-radius: 25px;
    height: 100px;
    padding: 30px;
    transition: all .3s;
}

.arti2 img:hover{
    background-color: var(--naranja);
    cursor: pointer;
}

.industria, .agro, .hotel, .mark, .techno, .auto, .minero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 18px;
}

.prin {
    color: var(--navbar);
    display: flex;
    max-width: 700px;
    margin: auto;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<section4>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.section4 {
    background-color: var(--blog);
    padding-top: 55px;
    padding-bottom: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.section4 h2 {
    text-align: center;
    color: var(--blanco);
    font-size: 50px;
}

.blog {
    max-width: 1085px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.tex-blog-parr {
    color: var(--celeste);
    font-size: 14px;
}

.tex-link {
    color: var(--naranja);
    font-size: 20px;
}

.tex-link-1 {
    background-color: #5f4a4a;
    padding: 2px 6px;
    border-radius: 5px;
    color: var(--naranja);
    font-size: 14px;
}

.tex-link-1:hover{
    background-color:var(--blanco);
}

.blog1 {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.tex-blog {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 1px;
}

.blog1 img { 
    height: 350px;
    border-radius: 1px;
}

.ver-mas {
    background-color: rgb(63, 66, 66);
    color: white;
    font-size: 17px;
    padding: 15px 29px;
    border-radius: 5px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 30px;
}

.ver-mas::before {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: -100%;
    transition: all .3s;
}

.ver-mas:hover::before {
    left: 0%;
    z-index: -1;
}

.ver-mas:hover {
    transform: scale(1.1);
}
/*<<<<<<<<<<<<<<<<<<seccion5>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.section5 {
    background-color: var(--contact);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 65px;
    padding-bottom: 65px;
}

.contac {
    max-width: 1085px;
    margin: auto;
    padding-right: 530px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.contac h1{
    font-size: 40px;
    color: var(--navbar);
}

.contac p {
    color: var(--dei);
    font-size: 18px;
}

.for {
    max-width: 1085px;
    margin: auto;
    display: flex;
    gap: 45px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.nombre-telef, .email-empresa, .pais-asun {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nomb, .telef, .email, .empresa, .pais, .asun {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #4e4c4c;
}

form input {
    width: 320px;
    height: 40px;
    border-radius: 1px;
    border: solid 1px var(--celeste); 
    background-color: var(--blanco);
    color: rgb(247, 243, 243);
}

input::placeholder {
    color: var(--celeste);
    padding: 0px 10px;
}

.mensaje {
    padding-left: 11px;
    padding-top: 8px;
    padding-bottom: 15px;
    color: #4e4c4c;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1085px;
    margin: auto;
    box-sizing: border-box;
}

form textarea{
    width: 1040px;
    height: 150px;
    background-color: var(--blanco);
    border-radius: 1px;
    border: solid 1px var(--celeste);
    color: var(--azul);
}

textarea::placeholder {
    color: var(--celeste);
    padding: 10px;
}

.section5 button{
    cursor: pointer;
    padding: 13px 33px;
    border-radius: 20px;
    border: solid 2px var(--navbar);
    font-size: 17px;
    font-weight: 600;
    color: var(--blog);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.section5 button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--naranja);
    top: 0;
    left: -100%;
    transition: all .3s;
}

.section5 button:hover::before {
    left: 0;
    z-index: -1;
    
}

.section5 button:hover {
    transform: scale(1.1);
    color: var(--blog);
    
}

.but {
    display:flex;
    justify-content: start;
    gap: 30px;
    max-width: 1085px;
    margin: auto;
    align-content: start;
    padding-left: 26px;
    padding-top: 35px;
}

footer {
    background-color: var(--navbar);
    padding: 40px 0px;
}

.container {
    max-width: 1085px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-row {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 80px;
}

.compa単ia {
    width: 25%;
    padding: 0 15px ;
}

.compa単ia h3 {
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    padding-bottom: 10px;
    display: inline-block;
}

.compa単ia ul li a {
    color: #7c7575;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.compa単ia ul li a:hover{
    color: white;
    padding-left: 6px;
}

.social-link a {
    line-height: 0px;
    margin-left: 8px;
    background-color: rgba(15, 43, 85, 0.849);
    display: inline-block;
    border-radius: 2px;
    padding: 3px;
}

.social-link img {
    width: 30px;
}

.social-link a:hover {
    display: inline-block;
    background-color: rgb(248, 242, 242);
    text-align: center;
    border-radius: 2px;
}

.autor {
    padding-left: 40px;
    display: flex;
    gap: 30px;
    color: var(--naranja)
}

footer span {
    font-weight: 700;
}